Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 38 1fr;
    grid-rows: 13 1fr 5;
}

#longboi {
    column-span: 2;
    tint: black 40%;
}

#tallboi {
    row-span: 2;
    tint: midnightblue 40%;
}

.box {
    height: 100%;
    /* width: 1fr; */
    padding: 1 2;
    border: solid green;
}