Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 3fr;
    grid-rows: 60% 20% 20%;
}

#longboi {
    column-span: 2;
    tint: rgb(160, 37, 0) 40%;
}

#tallboi {
    row-span: 2;
    tint: magenta 40%;
}

.box {
    height: 100%;
    /* width: 1fr; */
    border: solid green;
}